@charset "UTF-8";
*{
  padding: 0px;
  margin: 0px;
}

    body {
      font-family: Arial, sans-serif;
      background: url(https://assets.brasildefato.com.br/2024/09/image_processing20240405-2000577-irvw8n.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    header{
      text-align: center;
      margin: 2px;
    }
    h1 {
      background-color: white;
      padding: 3px 3px;
      display: inline;
      border-radius: 8px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.603);
      border: 2px solid #000000;
    }
    .timeline {
      position: relative;
      max-width: 900px;
      margin: auto;
    }
    .timeline::after {
      content: '';
      position: absolute;
      width: 6px;
      background-color: #f32121;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
      border: 1px solid #000000;
    }
    .container {
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 50%;
    }
    .left {
      left: -38px;
    }
    .right {
      left: 45.6%;
    }
    .left::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      right: 30px;
      border: medium solid transparent;
      border-left-color: #ffffff;
      border-width: 10px;
    }
    .right::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 30px;
      border: medium solid transparent;
      border-right-color: #fff;
      border-width: 10px;
    }
    .content{
      padding: 20px;
      background-color: white;
      position: relative;
      border-radius: 8px;
      border: 2px solid #000000;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
    }
    iframe {
      width: 100%;
      height: 200px;
      margin-top: 10px;
    }
    @media screen and (max-width: 600px) {
      .timeline::after {
        left: 31px;
      }
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
      .container::before {
        left: 60px;
        border: medium solid transparent;
        border-left-color: #fff;
        border-width: 10px;
      }
      .left, .right {
        left: 0%;
      }
    }
    footer{
      background-color: white;
      text-align: center;
      font-weight: bold;
      border: 2px solid #000000;
    }
    a:hover {
      color: blue;
    }
    a {
      color: #000000;
    }